*{
    margin: 0;
    font-family: Raleway, sans-serif;
}
.mainBox{
    width: 100%;
    height: 65px;
    align-items: center;
    display: flex;
    background-color: #f8fbfe;
    border-bottom: 1px solid #e1effc;
    justify-content: space-around;
}
.logo{
    color: #1e6ca6;
    font-weight: bold;
}
.menu{
    display: flex;
}
.menuA{
    text-decoration: none;
    color: #1e6ca6;
    padding: 25px;
    font-size: 17px;
}
.search{
    display: flex;
}
.searchInputText{
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 5px 25px 5px 25px;
}
.goButton{
    border-radius: 5px;
    background-color: #1e6ca6;
    color: white;
    border: 1px solid #1e6ca6;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
}
.main1{
    text-align: center;
    padding-top: 150px;
    font-size: 30px;
    color: #1e6ca6;
}
.main2{
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    color:  #124265;
}
.main3{
    text-align: center;
    padding-top: 35px;
}
.knowButton{
    border-radius: 5px;
    background-color: #2487ce;
    border: 1px solid #2487ce;
    color: white;
    padding: 15px 50px 15px 50px;
}
.paddingFromButton{
    padding-top: 80px;
}
.aboutBack{
    width: 100%;
    height: 200px;
    background-color: #f8fbfe;
    border-bottom: 1px solid #e1effc;
    border-top: 1px solid #e1effc;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.aboutBack1{
    color: #1e6ca6;
    text-align: center;
    font-size: 20px;
}
.paddingFromBox{
    padding-top: 50px;
    padding-bottom: 50px;
}
.galleryText{
    color: #124265;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.galleryPhoto{
    display: flex;
}
.galleryPhoto1{
    display: block;
    margin: auto;
}
.imgOfGallery{
    width: 180px;
    height: 130px;
    padding: 15px;
}
.teamBox{
    width: 100%;
    height: 490px;
    background-color: #f8fbfe;
    border-bottom: 1px solid #e1effc;
    border-top: 1px solid #e1effc;
    margin-bottom: 30px;
}
.team_p1{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 30px;
    color: #124265;
}
.teamsBitlab{
    display: flex;
    justify-content: center;
}
.photoStyle{
    border: 1px solid darkgray;
    border-radius: 10px 10px 10px 10px;
    margin: 15px;
}
.photoStyle_Name{
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}
.photoStyle_D{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}
.teams1{
    border: 1px solid darkgray;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
}
img{
    border-radius: 10px 10px 0px 0px;
}
.footer{

}
.footer1{
    font-size: 15px;
    text-align: center;
}


